/* Don't forget to embed the font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --header-height: 3rem;
    --font-medium: 500; /*this is for the font medium size*/
}

/*Colors*/
:root{
    --main: #1d1d63;
    --white: #fafaff;
    --dark: #242524;
    --text: #242323;
}

/* Fonts*/
:root{
    --body-font:  'Inter', sans-serif;
    --big-font: 6.25rem;
    --name-font: 3.5rem;
    --h2-font: 1.25rem;
    --normal-font: .938rem;
    --small-font: .813rem;
}

/* Responsiveness variables */
@media screen and (min-width: 768px){
    :root{
        --big-font: 10.5rem;
        --desktop: 5rem;
        --h2-font: 2rem;
        --normal-font: 1rem;
        --small-font: .875rem;
    }
}

/*Margins*/
:root{
    --m1: .5rem;
    --m2: 1rem;
    --m3: 1.5rem;
    --m4: 2rem;
}

/*Index*/
:root{
    --fixed: 100;
}



/*Basics*/
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font);
    font-weight: var(--font-medium);
    color: var(--text);
    line-height: 1.6;
}

h1,h2,p {
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Section */
.section {
    padding: 3rem 0;
}

.section-title {
    position: relative;
    font-size: var(--h2-font);
    color: var(--dark);
    margin: var(--m4) 0;
    text-align: center;
}

.section-title::after {
    content: "";
    position: absolute;
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--main);
}

/* Layout */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-right: var(--m2);
    margin-left: var(--m2);
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--fixed);
    background-color: var(--main);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Nav responsiveness */
@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: #ffffff;
        transition: .5s;
        backdrop-filter: blur(10px);
    }
}

.nav__item{
    margin-bottom: var(--m4);
}

.nav__link{
    position: relative;
    color: var(--dark);
}

.nav__link:hover{
    color: var(--main);
}

.nav__logo {
    color: var(--white);
}

.nav__toggle {
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
}

/* Show menu */
.show{
    right: 0;
}

/* Active menu */
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--main);
}

/* home */
.home {
    position: relative;
    background-color: var(--main);
    overflow: hidden;
}

.home__container {
    height: calc(100vh - var(--header-height));
    row-gap: 5rem;
}

.home__title {
    margin-top: 2rem;
    align-self: flex-end;
    font-size: var(--big-font);
    color: var(--white);
}

.home__title span {
    text-shadow: 0 20px 25px rgba(0, 0, 0, .5);
}
.home__name {
    align-self: flex-end;
    font-size: var(--name-font);
    color: var(--white);
    line-height: 1.2;
}

.home__name span {
    text-shadow: 0 20px 25px rgba(0, 0, 0, .5);
}

.home__scroll-link {
    display: none;

}


/* About section */
.about__container {
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}

.about__img {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #1d1d63;
}

.about__img img {
    width: 120px;
}

.about__subtitle {
    font-size: var(--h2-font);
    color: var(--main);
    margin-bottom: var(--m1);
}

.about__text {
    margin-bottom: var(--m4);
}

.about__profession {
    display: block;
    margin-bottom: var(--m4);
}

.about__social-icon {
    font-size: 1.4rem;
    margin: 0 var(--m1);
}

.about__social-icon:hover {
    color: var(--main);
}

/* portfolio */
.portfolio {
    background-color: var(--white);
}

.portfolio__container {
    justify-items: center;
    row-gap: 2rem;
}

.portfolio__img {
    position: relative;
    overflow: hidden;
}

.portfolio__img img {
    border-radius: .5rem;
}

.portfolio__link {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: block;
    text-align: left;
    padding: 4rem 2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    opacity: 0.85;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    color: var(--white);
}

.portfolio__img:hover .portfolio__link {
    bottom: 0;
}

.portfolio__link-name {
    color: var(--white);
}


/* Contact */
.contact__container {
    row-gap: 2rem;
}

.contact__subtitle {
    font-size: var(--normal-font);
    color: var(--dark);
}

.contact__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    margin-bottom: var(--m4);
}

.contact__input {
    width: 100%;
    padding: .8rem;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--main);
    font-size: var(--normal-font);
}

.contact__button {
    display: block;
    background-color: var(--main);
    border-radius: .2rem;
    border: none;
    color: var(--white);
    margin-top: 3em;
    padding: 1.5rem 1.5rem;
    outline: none;
    font-size: var(--normal-font);
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.contact__button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .3s;
}

.contact__button:hover::before {
    opacity: 1;
}

.footer-copy {
    background-color: var(--main);
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--white);
}




/* === Desktop ===*/
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }

    .section{
        padding-top: 4rem;
    }

    .section-title{
        margin-bottom: 3rem;
    }

    .section-title::after{
        width: 64px;
        top: 3rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }

    .nav__list{
        display: flex;
    }

    .nav__item{
        margin-left: var(--m4);
        margin-bottom: 0;
    }

    .nav__toggle{
        display: none;
    }

    .nav__link{
        color: var(--white);
    }

    .nav__link:hover{
        color: var(--white);
    }

    .active::after{
        background-color: var(--white);
    }

    .home__container{
        height: 100vh;
        margin-top: 2rem;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }

    .home__name{
        font-size: 5rem;
    }

    .about__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }

    .about__img{
        width: 200px;
        height: 200px;
    }

    .about__img img{
        width: 200px;
        height: 200px;
    }

    .about__social-icon {
        font-size: 2rem;
        margin: 0 var(--m1);
    }

    .portfolio__container{
        grid-template-columns: repeat(2, 1fr);/* repeat(2, 1fr)*/
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact__container{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin-bottom: 5rem;
    }

    .contact__subtitle {
        font-size: var(--h2-font);
    }

    .footer-copy {
        display: flex;
        justify-items: center;
        text-align: center;
        justify-self: center;
        align-items: center;
    }


}



@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

